@import url();

:root {
    --main-blue: #1992d4;
    --main-white: white;
    --main-grey: #e2e8f0;
    --main-accent: orange;
    --txt: black;
    --txt-light: white;
    --txt-white: var(--main-white);
}

/* .roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;        
}



body {
    font-family: Roboto;
    color: var(--txt); 
}


.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr ;    
    height: 100vh;
}

.header {
    background-color: var(--main-white);

}

.sidebar{
    background-color: var(--main-blue);
    grid-row: 1 / 3;
    display: grid;
    grid-template: 60px 300px 200px / 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.sidebar {
    color: var(--txt-white);
}

.navopt {
    display: grid;
    grid-template: 1fr / 20px 1fr ;
    gap: 20px;  
    align-items: center;
}

.nav-label {    
    font-weight: bold;
}
.navigation-main, .navigation-secondary {
    display: grid;
    gap: 20px;

}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    
}

.search-container {
    display: grid;
    grid-template: 1fr / 20px 1fr;
    gap: 5px;
    padding: 20px 30px;
    
}

.search-icon {
    width: 15px;
    height: 15px;
}

.search-bar {

}

.notify-container {
    display: grid;
    grid: 1fr / 25px 50px 150px;
    justify-items: center;
    padding: 20px 30px;
}

.user-container {
    display: grid;
    grid: 1fr / 50px 4fr ;
    justify-items: start;
    padding: 20px 30px;
}

.actions-container {
    display: grid;
    grid: 1fr / repeat(3, 1fr) ;
    gap: 20px;
    padding-right: 40px;
}

.main {
    background-color: var(--main-grey);
    padding: 20px;
    display: grid;
    grid: 1fr 1fr / 2fr 1fr ;
    gap: 20px;
}

.projects {
    grid-row: 1 / 3; 
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px
}

.project-cards {
   display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
}
    
.project-title, .ann-title , .trending-title {
    font-weight: bold;
    font-size: 18px;    
    margin-bottom: 10px;
}

.card {
    background-color: var(--main-white);
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 5px solid var(--main-accent);
    display: grid;
    grid: 25px 1fr 45px / 1fr;
    
}

.project-actions {
    display: grid;
    grid: 1fr / 25px 25px 25px;
    justify-content: end;
    align-items: end;
    gap: 10px;
    
}


.announcements {
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px;
}

.ann-list {
    background-color: var(--main-white);
    padding: 30px 20px;
    border-radius: 10px;
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr;

}

.ann-item {
    display: grid;
    grid: 25px / 1fr ;
}

.ann-hr { 
    border: none;
    height: 1px;
    background-color: var(--main-grey);
}

.trending {
    grid-column: 2;
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px;
}

.users-list {
    background-color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr;

}

.user-item {
    display: grid;
    grid: 1fr / 60px 1fr ;
}