
:root {
    --main-blue: #1992d4;
    --main-white: white;
    --main-grey: #e2e8f0;
    --main-accent: orange;
    --txt: black;
    --txt-light: white;
    --txt-white: var(--main-white);
    --txt-dark-grey: grey;
    --shadow-card: 2px 1px 5px rgba(128, 128, 128, 0.474);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;        
}


body {
    font-family: Roboto;
    color: var(--txt); 
}

.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr ;    
    min-height: 100%;
}

.header {
    background-color: var(--main-white);
    box-shadow:  var(--shadow-card);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    position: relative;    

}

.sidebar{
    background-color: var(--main-blue);
    grid-row: 1 / 3;
    display: grid;
    grid-template: 60px 300px 200px / 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px 30px;
}

.sidebar {
    color: var(--txt-white);
}

.navopt {
    display: grid;
    grid-template: 1fr / 20px 1fr ;
    gap: 20px;  
    align-items: center;
}

.nav-label {    
    font-weight: bold;
}
.navigation-main, .navigation-secondary {
    display: grid;
    gap: 20px;

}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}


.search-container {
    display: grid;
    grid-template: 1fr / 20px 1fr;
    gap: 15px;
    padding: 20px 30px;
    align-items: center;
}


.profile-rounded {
    border-radius: 50%;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.search-bar {
    border: none;
    background-color: var(--main-grey);
    border-radius: 20px;
    height: 25px;
}

.notify-container {
    display: grid;
    grid: 1fr / 25px 50px 130px;
    justify-self: end;    
    padding: 20px 30px;
    align-items: center;
    gap: 20px;
    justify-items: end;
}

.n-title{
    justify-self: center;
}

.user-container {
    display: grid;
    grid: 1fr / 50px 4fr ;
    justify-items: start;
    padding: 0px 30px 20px 30px;
    gap: 15px;
    align-items: center;
    
}

.user-welcome-text {
    font-weight: bold;
}

.actions-container {
    display: grid;
    grid: 1fr / repeat(3, 1fr) ;
    gap: 20px;
    padding-right: 40px;
    
}

.action-button {
    border: none;
    border-radius: 25px;
    padding: 5px;
    background-color: var(--main-blue);
    height: 35px;
    color: var(--txt-white);
}

.main {
    background-color: var(--main-grey);
    padding: 20px;
    display: grid;
    grid: 1fr 1fr / 2fr 1fr ;
    gap: 20px;
}

.projects {
    grid-row: 1 / 3; 
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px
}

.project-cards {
   display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    
}
    
.project-title, .ann-title , .trending-title {
    font-weight: bold;
    font-size: 18px;    
    margin-bottom: 10px;
}

.project-body {
    font-size: 14px;
    color: var(--txt-dark-grey);
}

.sub-title {
    font-weight: bold;

}

.ann-sub-title {
    font-size: 14px;    
}

.ann-body{ 
    font-size: 12px;
    color: var(--txt-dark-grey)
}



.card {
    background-color: var(--main-white);
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 5px solid var(--main-accent);
    display: grid;
    grid: 25px 1fr 45px / 1fr;
    box-shadow:  var(--shadow-card);
}

.project-actions {
    display: grid;
    grid: 1fr / 25px 25px 25px;
    justify-content: end;
    align-items: end;
    gap: 10px;
    
}


.announcements {
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px;
}

.ann-list {
    background-color: var(--main-white);
    padding: 30px 20px;
    border-radius: 10px;
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr;
    box-shadow:  var(--shadow-card);

}

.ann-item {
    display: grid;
    grid: 25px / 1fr ;
}

.ann-hr { 
    border: none;
    height: 1px;
    background-color: var(--main-grey);
}

.trending {
    grid-column: 2;
    display: grid;
    grid: 20px 1fr / 1fr;
    gap: 10px;
}

.users-list {
    background-color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr;
    gap: 10px;
    box-shadow:  var(--shadow-card);
}

.user-item {
    display: grid;
    grid: 1fr / 60px 1fr ;
    align-items: center;
    gap: 20px;
}

.trending-body {
    color: var(--txt-dark-grey);
    font-size: 16px;
}