* {
    margin: 0px;
    padding: 0px;
    
}


.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr ;    
    height: 100vh;
}

.header {
    background-color: white;

}

.sidebar{
    background-color: #1992d4;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 60px 300px 200px / 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.sidebar > div {
    color: white;
}

.navopt {
    display: grid;
    grid-template: 1fr / 20px 1fr ;
    gap: 20px;  
    align-items: center;
}

.nav-label {
    /* height: 16px; */
    font-weight: bold;
}
.navigation-main, .navigation-secondary {
    display: grid;
    gap: 20px;

}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    
}

.search-container {
    display: grid;
    grid-template: 1fr / 20px 1fr;
    gap: 5px;
    padding: 20px 30px;
    
}

.search-icon {
    width: 15px;
    height: 15px;
}

.search-bar {

}

.notify-container {
    display: grid;
    grid: 1fr / 25px 50px 150px;
    justify-items: center;
    padding: 20px 30px;
}

.user-container {
    display: grid;
    grid: 1fr / 50px 4fr ;
    justify-items: start;
    padding: 20px 30px;
}

.actions-container{
    display: grid;
    grid: 1fr / repeat(3, 1fr) ;
    gap: 20px;
    padding-right: 40px;
}

.main {
    background-color: #e2e8f0;
    padding: 20px;
    display: grid;
    grid: 1fr 1fr / 2fr 1fr ;
    gap: 20px;
}

.projects{
    grid-row: 1 / 3; 
 
}

.project-cards{
   display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
}
    
.project-title{
    font-weight: bold;
    font-size: 18px;
    /* grid-column: 1/3; */
    margin-bottom: 10px;
}

.card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid orange;
}

.trending {
    grid-column: 2;
}

