* {
    margin: 0px;
    padding: 0px;
}


.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr ;
    height: 100vh;
}

.header {
    background-color: white;

}

.sidebar{
    background-color: #1992d4;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 60px 300px 200px / 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.sidebar > div {
    color: white;
}

.navopt {
    display: grid;
    grid-template: 1fr / 20px 1fr ;
    gap: 20px;  
    
}


.main{
    background-color: #e2e8f0;


}

