* {
    margin: 0px;
    padding: 0px;
}


.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr ;
    height: 100vh;
}

.header {
background-color: white;

}

.sidebar{
background-color: #1992d4;
grid-row: 1 / 3;
}

.main{
background-color: #e2e8f0;


}